<%= link_to password, id: dom_id(password), class: "p-4 block no-underline rounded hover:bg-gray-100" do %>
  <div class="text-sm text-gray-500 font-normal"><%= password.url %></div>
  <div><%= password.username %></div>
<% end %>